<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <div><Image class="img-microfinance"/></div>
        <h2>Welcome <%= user.name %>!!!</h2>
        <span>Email : <%= user.email %></span>
		<span>You are currently logged in as a <%= user.role %>&nbsp corporate user</span>
        <a href="/logout">Log Out</a>
    </div>
</div>
<%- include('footer'); -%>